# Vine Review Analysis

Import the CSV file and reduce it to those with at least 20 counts. From those with 20+ counts, reduce this to votes that were considered helpful at least 50% of the time. Of these helpful votes, split them into two groups of paid and unpaid reviewers. Review all data to complete the rest of the analysis.

### Import the dependencies

In [1]:
import pandas as pd
import numpy as np

### Import the data

In [2]:
reviews_df = pd.read_csv("Resources/vine_table.csv")
reviews_df.head(3)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y

### Create a new df to retrieve all the rows where the total_votes count is >= 20.

In [3]:
total_votes_df = reviews_df.loc[(reviews_df["total_votes"] >= 20)]
total_votes_df.head(3)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y

### Filter total_votes_df to create a df that retrieves all rows where helpful_votes divided by total_votes >= 50%.

In [4]:
helpful_votes_df = total_votes_df.loc[((total_votes_df["helpful_votes"]) / (total_votes_df["total_votes"]) >= 0.50)]
helpful_votes_df.head(3)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y

### Filter helpful_votes_df to create two new dfs
1. Retrieve all rows where a written review was part of the Vine paid program (vine == Y).
2. Retrieve all rows where a written review was not part of the Vine paid program (vine == N).

In [5]:
paidReview_df = helpful_votes_df.loc[(helpful_votes_df["vine"]) == 'Y']
paidReview_df.head(3)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N

In [6]:
unpaidReview_df = helpful_votes_df.loc[(helpful_votes_df["vine"]) == 'N']
unpaidReview_df.head(3)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y

### Determine the following:
1. The total number of reviews.
2. The number of 5-star reviews.
3. The percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [7]:
total_no_reviews = (paidReview_df["review_id"].count() + unpaidReview_df["review_id"].count())
total_no_reviews

38010

In [8]:
paid_5star = paidReview_df.loc[(paidReview_df["star_rating"] == 5.0)].count()
paid_5star["star_rating"]

65

In [9]:
unpaid_5star = unpaidReview_df.loc[(unpaidReview_df["star_rating"] == 5.0)].count()
unpaid_5star["star_rating"]

20612

In [10]:
total_no_5star = paid_5star["star_rating"] + unpaid_5star["star_rating"]
total_no_5star

20677

In [11]:
paidPercent_5star = (paid_5star / total_no_5star) * 100
paidPercent_5star["star_rating"]

0.31435894955747934

In [12]:
unpaidPercent_5star = (unpaid_5star / total_no_5star) * 100
unpaidPercent_5star["star_rating"]

99.68564105044251

### 0.3% of 5-star reviews are paid; 99.7% are unpaid

In [ ]:
# VERIFY
65/20677

In [ ]:
# VERIFY
20612/20677

In [ ]:
20677/38010